* {
  font-family: shabnam !important;
}
/* #########  global styles ######### */
.ant-menu-item .ant-menu-item-icon,
.ant-menu-submenu-title .ant-menu-item-icon,
.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon {
  margin-left: 3px;
}

.ant-menu-horizontal .ant-menu-item,
.ant-menu-horizontal .ant-menu-submenu-title {
  align-items: center;
  align-content: center;
}

.header-container {
  font-size: 17px;
  padding: 15px 10px;
  background-color: rgb(247, 247, 247);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  max-height: 98px;
}

.header-cols {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.header-icon {
  font-size: 20px;
  font-weight: 700;
  padding: 8px;
  border: 2px solid #132;
}

.header-items{
  color: black;
}
.header-items:hover {
  border-bottom: 2px solid rgb(145, 7, 7);
  background-color: rgb(241, 241, 241);
}

.header-logo {
  text-align: center;
  align-items: center;

}
